{% extends "../website.twig" %}

{% set nav_active = 'competitions' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-sm-0">Competitions</h4>
            <div class="row">
                {% for competition in competitions %}
                    <div class="col-sm-6">
                        <div class="card mb-3 my-sm-3">
                            <img
                                src="{{ static(competition.header) }}"
                                alt="{{ competition.title }}"
                                class="card-img-top"
                            >
                            <div class="card-body border-top">
                                <div class="row align-items-center">
                                    <div class="col-auto my-1">
                                        <h5 class="card-title">{{ competition.title }}</h5>
                                        <h6 class="card-subtitle text-muted">
                                            {{ competition.details }}
                                        </h6>
                                    </div>
                                    {% if competition.can_subscribe %}
                                        <div class="mt-3 mt-sm-0 col-auto flex-shrink-1 ml-sm-auto d-flex flex-sm-column align-items-center">
                                            <a
                                                href="/activity/{{ competition.id }}"
                                                class="btn btn-outline-primary mr-2 mr-sm-0"
                                            >
                                                Join Competition
                                            </a>
                                            <small class="text-muted">
                                                {{ competition.num_participants }}
                                                participant{{ competition.num_participants == 1 ? '' : 's' }}
                                            </small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer bg-light border-top">
                                <p class="mb-0">
                                    {{ competition.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}
